body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}

.admin-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    /* width: 100%; */
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="file"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white !important;
 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
 
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.crud-buttons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #f2f2f2;
    

}

.crud-buttons button{
    width: 200px;
    background-color: #4CAF50;
    color: white !important;
    margin: 20px;
}

.recipe-data{
  
    padding: 30px;
    background-color: #ccc;
  
}
button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  
  button:hover {
    background: #c4e201;
  }
  
  button > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }
  
  button:hover svg {
    transform: translateX(5px);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  